{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <aside class="sidebar">
        <div class="profile-card">
            <img src="https://placeholder.pics/svg/100">
            <h2 class="blog-author"></h2>
            <p class='about-me'>这家伙很懒，什么都没留下</p>
        </div>
    </aside>
    <!-- <div class="blog"> 
        <div class="blog-article shadow"">

        </div>
        <div class="comments shadow">
            <h2>Comments</h2>
            <div id="comment-box">
                <textarea id="comment-textarea" placeholder="Type your comment here."></textarea><br>
                <button class="btn">Submit</button>
            </div>
            <div id=comment-list></div>
        </div>
    </div> -->
</div>
<script src="{{url_for('static', filename='js/detail.js')}}"></script>
{% endblock %}