<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/blog.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>
    <script src="{{url_for('static', filename='js/common.js')}}"></script>
    {% endblock %}
</head>

<body>
    <header>
        <h1><a href="/home">My Blog</a></h1>
        <span id="user-info"><a href="/login">Login</a></span>
    </header>
    {% block content %}{% endblock %}
    

</body>

</html>