{% extends 'base.html' %}

{% block content %}
<div class="wrap page shadow">
    <h1>List of Articles</h1>
    <p><button class="btn">add new post</button></p>
    <ul class="blog-list"></ul>
    <div class="pagination">
        <ul class="tag-list">
            <li class="tag pagination-button" data-offset="-1">&laquo;</li>
            <li class="tag pagination-button" data-offset="1">&raquo;</li>
        </ul>
        <p><span class="current-page"></span> /
            <span class="total-page"></span></p>
    </div>
</div>

<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}